
@{
    ViewBag.Title = "UserAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserAccount</h2>
<!--viewbag.ShowUser geeft de user mee, daar kan je dingen uit halen voor het overzicht van het account.-->