
@{
    ViewBag.Title = "HulpvragenOverzicht";
    Layout = "~/Views/Shared/_LoginRegister.cshtml";
    List<CareMatch.Models.Hulpvraag> hulpvragen = new List<CareMatch.Models.Hulpvraag>();
}

<h2>HulpvragenOverzicht</h2>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">HulpvragenOverzicht</h3>
    </div>
    <div class="panel-body">
        
    </div>
</div>
