
@{
    ViewBag.Title = "videotest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Video Test</h2>


<html>
<head>
    <title>Icecomm Chat</title>
</head>
<body>
            <!--Heading-->
    <div class="col-md-12 col-lg-6">
        <div class="panel panel-primary">
            <!--Heading-->
            <div class="panel-heading">
                <h3 class="panel-title">Video Chat</h3>
            </div>
            <div class="panel-body" style="height:400px">
                        <video id="localVideo" autoplay></video>
            </div>
        </div>
    </div>

    @*<video id="localVideo" autoplay></video>*@
</body>
</html>

<script type="text/javascript" src="http://cdn.icecomm.io/icecomm.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
		$(document).ready(function() {
			var height = 0;
			$("ul.list-unstyled.media-block").each(function() {
				height += parseInt($(this).height());
			});

			height += 0;

			$("#messagewindow").animate({ scrollTop: height });
		});

        //Post request op de achtergrond uitvoeren. Pagina - Functienaam - parameters.
		$.post("Index.cshtml", { Index }, function (data) {
		    console.log(data.name); // John
		    console.log(data.time); // 2pm
		}, "json");
</script>
<script>
    var comm = new Icecomm('HhwjERa67BO6jFoZ9Sy4wQ86N2c64JjRc7NURHrnKocjY2em');

    comm.connect('custom room', { audio: false });

    comm.on('connected', function (peer) {
        document.body.appendChild(peer.getVideo());
    });

    comm.on('local', function (peer) {
        localVideo.src = peer.stream;
    });

    comm.on('disconnect', function (peer) {
        document.getElementById(peer.ID).remove();
    });
</script>
