
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginRegister.cshtml";
}

<h1>Login</h1>

<form method="post" name="login">
    <div class="form-group">
        <label class="control-label" for="inputDefault">Username</label>
        <input type="text" class="form-control" id="inputDefault">
        <label class="control-label" for="inputDefault">Password</label>
        <input type="text" class="form-control" id="inputDefault">
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Login</button>
    </div>
</form>
