@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginRegister.cshtml";
}

@{if (ViewBag.foutmelding != string.Empty)
    {
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oeps!</strong> @ViewBag.foutmelding
        </div>

    }}
<div class="loginform">
    <h1>Login</h1>
    <form method="post" name="Login">
        <div class="form-group">
            <label class="control-label" for="inputDefault">Gebruikersnaam</label>
            <input type="text" class="form-control" id="inputDefault" name="gebruikersnaam">
            <label class="control-label" for="inputDefault">Wachtwoord</label>
            <input type="password" class="form-control" id="inputDefault" name="wachtwoord">
        </div>

        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-default">Login</button>
        </div>
    </form>
    <form action="~/Login/Registreren">
        <div class="btn-group" role="group">
            <br />
            Nog geen account? Registreer hier!<br />
            <input type="submit" class="btn btn-default" value="Registreer" />
        </div>
    </form>
</div>