@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginRegister.cshtml";
}

@ViewBag.foutmelding
<div class="loginform">
    <h1>Login</h1>
    <form method="post" name="Login">
        <div class="form-group">
            <label class="control-label" for="inputDefault">Username</label>
            <input type="text" class="form-control" id="inputDefault" name="gebruikersnaam">
            <label class="control-label" for="inputDefault">Password</label>
            <input type="text" class="form-control" id="inputDefault" name="wachtwoord">
        </div>

        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-default">Login</button>
        </div>
    </form>
    <form action="~/Views/Login/Register">
        <div class="btn-group" role="group">
            <br />
            Nog geen account? Registreer hier!<br />
            <input type="submit" class="btn btn-default" value="Registreer" />
        </div>
    </form>
</div>
