
@{
    ViewBag.Title = "Registreren";
    Layout = "~/Views/Shared/_Login_Register.cshtml";
}

<h2>Registreren Hulpbehoevende</h2>
<form method="post" name="registreren">
    <div class="form-horizontal">
        <label class="control-label" for="inputDefault"></label>
        <input type="text" class="form-control" id="inputDefault">
        <label class="control-label" for="inputDefault">Password</label>
        <input type="text" class="form-control" id="inputDefault">
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Registreren</button>
    </div>
</form>
